*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.Navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 125px;
    border: 2px solid transparent;
    border-radius: 5px;
    position: relative;
    top: 5px;
    margin-bottom: 10px;

}
.logo{
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    width: 100px;
    margin-top: 1px;
    position: absolute;
    top: 13px;
    left: 10px;
    border: 2px solid transparent;
    border-radius: 5px;

}
/* .logo:hover{
    border: 2px solid white;
} */

.nav-logo:hover{
    border: 2px solid white;

}

/* Box2 */

.add-first{
    color: #cccccc;
    font-size: 0.80rem;
    margin-left: 15px;
}
.add-sec{
   color: white;
   font-size: 1rem;
   margin-left: 3px;
}
.add-icon{
   display: flex;
   align-items: center;

}
.Nav-address{
    padding-top: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    height:40px;
    padding-top: 10px;
    margin-right: 5px;
    width: 85px;
    padding-left: 5px;
   
}
.Nav-address:hover{
    border: 2px solid white;
}

/* Box3 */
.Nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: cornflowerblue;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.Nav-search:hover{
    border: 2px solid #f9a006;
}
.select-search{
    background-color: #d5cbcb;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.25rem;
    background-color: #f9a006;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* box 4 */
 span{
    font-size: 0.7rem;
 }
 .Nav-singin{
    border: 2px solid transparent;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding-left: 5px;
 }
.Nav-singin:hover{
    border: 2px solid white;
}
 .Nav-second{
    font: size 0.85rem;
    font-weight: 700;
 }
 /* box5 */
 .Nav-return{
    border: 2px solid transparent;
    border-radius: 5px;
    width: 80px;
    padding-left: 5px;
 }
 .Nav-return:hover{
    border: 2px solid white;
 }

 /* box6 */

 .Nav-cart i{
   font-size: 25px;
 }
 .Nav-cart{
    font-size: 1rem;
    font-weight: 700;
    border: 2px solid transparent;
    width: 80px;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-radius: 5px;
 }
 .Nav-cart:hover{
    border : 2px solid white;
 }

 /* panel */

 .panel{
    height: 40px;
    background-color: #222f3b;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
 }
.panel-all{
    border: 2px solid transparent;
    height: 25px;
    width: 42px;
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 5px;
}
.panel-all:hover{
    border: 2px solid white;
}


 .panel-ops p {
    display: inline;
    color: white;
    width: 72px;
    margin-left: 15px;
    border: 2px solid transparent;
 }
 .Today{
    border: 2px solid transparent;
 }
 .Today{
   border: 2px solid white;
 }


 
 .panel-ops{
    width: 70%;
    font-size: 0.95rem;
    font-weight: 500;
 }
 
 .panel-deals{
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    height: 23px;
    padding-top: 10px;
    margin-bottom: 4px;
    border-radius: 5px;
    width: 200px;
    padding-left: 5px;
    margin-top: 3px;
 }
 
 .panel-deals:hover{
    border: 2px solid white;
 }
 /* Hero Section */

.Hero-Section{
    background-image: url(main\ photo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 333px;
    width: 100%;
}
.Hero-Msg{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 540;
    font-family:sans-serif;
    font: 0.85rem;
    position: relative;
    top: 275px;
}
.Hero-Msg a{
    color: rgb(0, 128, 255);
}

/* shop-section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:10px ;
}
.box-img1{
    background-image: url(health\ and\ beauty\ .jpg);
    background-size: cover;
 height: 300px;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
.box-content{
    margin-left: 10PX;
    margin-right: 10px;
}

.box-content p{
    color: rgb(0, 128, 255);
}
.box-img2{
    background-image: url(t-shirt.png);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-img3{
    background-image: url(pexels-mnzoutfits-1598505.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img4{
    background-image: url(electronics.itm.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img5{
    background-image: url(tab.lap.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img6{
    background-image: url(black\ goggle.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img7{
    background-image: url($_57.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-img8{
    background-image: url(kids\ stationary.jpg);
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
 
.login{
    height: 130px; 
    background-color: #d5cbcb;
    margin-top: 20px;
}

.see-rcm{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 1380px;
    left: 550px;
    font-family: sans-serif;
    font-weight: 600;
}
.button-sign{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 1408px;
    left: 580px;
 

}
.button-sign1{
    height: 25px;
    width: 180px;
    border-radius: 5px;
    background-color: #f9a006;
    border: 2px solid transparent;
    font-family: sans-serif;
}

.button-sign1:hover{
    border: 2px solid black;
}
.login1{
    position: relative;
    top :33px;
    right: 188px;
    font-family:sans-serif ;
    font-size: 1rem
}
/* .fotter */

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
   align-items: center;
   font-size: 0.95rem;
}
.foot-panel2 {
    background-color: #222f3b;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}

ul a{
    display: block;
    font-size: 0.95rem;
    margin-top: 10px;
    color: #dddddd;
} 
ul p{
    font-size: 1.25rem;

}
ul{
    margin-top: 40px;
}

.foot-panel3{
    background-color: #222f3b;
    color: white;
    border-top:0.5px solid white ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo22{
    background-image: url(logo.png);
    background-size: cover;
    height: 39px;
    width: 130px;
}
.foot-panel4{
    background-color: #1c2f3e;
    color:white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 76px;
}
.pages{
    font-size: 1rem;
    text-align: center;
    padding-top: 25px;


}
.copy-right{
    font-size: 0.85rem;
    text-align: center;
    padding-top: 5px;
}

.Made {
    position: absolute;
     top: 2149px;
     right: 20px;
     color:white;
     font-size: 11.2px;
}